.posts {
    margin-top: 50px;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

.text-success {
    color: blue !important;
}

.cards {
    margin-top: 45px;
}

.card {
    margin-bottom: 10px;
    width: 100% !important;
}